.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: auto;
}
.rectangle28 {
  position: absolute;
  left: 270.5px;
  top: 354px;
  width: 306px;
  height: 260px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle29 {
  position: absolute;
  left: 240.5px;
  top: 384px;
  width: 307px;
  height: 272px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangle16 {
  position: absolute;
  left: 298.5px;
  top: 592px;
  width: 160px;
  height: 32px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.moreInfo {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 307.5px;
  top: 589px;
  width: 157px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.event1 {
  position: absolute;
  left: 329.5px;
  top: 407px;
  width: 298px;
  height: 72px;
  flex-direction: column;
}
.textBlock {
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle282 {
  position: absolute;
  left: 816.5px;
  top: 354px;
  width: 306px;
  height: 260px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.rectangle292 {
  position: absolute;
  left: 786.5px;
  top: 384px;
  width: 307px;
  height: 272px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle162 {
  position: absolute;
  left: 844.5px;
  top: 592px;
  width: 160px;
  height: 32px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.moreInfo2 {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 853.5px;
  top: 589px;
  width: 157px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.event12 {
  position: absolute;
  left: 875.5px;
  top: 407px;
  width: 298px;
  height: 72px;
  flex-direction: column;
}
.textBlock3 {
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle283 {
  position: absolute;
  left: 1362.5px;
  top: 354px;
  width: 306px;
  height: 260px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.rectangle293 {
  position: absolute;
  left: 1332.5px;
  top: 384px;
  width: 307px;
  height: 272px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.rectangle163 {
  position: absolute;
  left: 1390.5px;
  top: 592px;
  width: 160px;
  height: 32px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.moreInfo3 {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1399.5px;
  top: 589px;
  width: 157px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.event13 {
  position: absolute;
  left: 1421.5px;
  top: 407px;
  width: 298px;
  height: 72px;
  flex-direction: column;
}
.textBlock5 {
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle284 {
  position: absolute;
  left: 270.5px;
  top: 725px;
  width: 306px;
  height: 260px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.rectangle294 {
  position: absolute;
  left: 240.5px;
  top: 755px;
  width: 307px;
  height: 272px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.rectangle164 {
  position: absolute;
  left: 298.5px;
  top: 963px;
  width: 160px;
  height: 32px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.moreInfo4 {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 307.5px;
  top: 960px;
  width: 157px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.event14 {
  position: absolute;
  left: 329.5px;
  top: 778px;
  width: 298px;
  height: 72px;
  flex-direction: column;
}
.textBlock7 {
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle285 {
  position: absolute;
  left: 816.5px;
  top: 725px;
  width: 306px;
  height: 260px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.rectangle295 {
  position: absolute;
  left: 786.5px;
  top: 755px;
  width: 307px;
  height: 272px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.rectangle165 {
  position: absolute;
  left: 844.5px;
  top: 963px;
  width: 160px;
  height: 32px;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.moreInfo5 {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 853.5px;
  top: 960px;
  width: 157px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.event15 {
  position: absolute;
  left: 875.5px;
  top: 778px;
  width: 298px;
  height: 72px;
  flex-direction: column;
}
.textBlock9 {
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle286 {
  position: absolute;
  left: 1362.5px;
  top: 725px;
  width: 306px;
  height: 260px;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.rectangle296 {
  position: absolute;
  left: 1332.5px;
  top: 755px;
  width: 307px;
  height: 272px;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.rectangle166 {
  position: absolute;
  left: 1390.5px;
  top: 963px;
  width: 160px;
  height: 32px;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.moreInfo6 {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1399.5px;
  top: 960px;
  width: 157px;
  height: 38px;
  justify-content: center;
  flex-direction: column;
}
.event16 {
  position: absolute;
  left: 1421.5px;
  top: 778px;
  width: 298px;
  height: 72px;
  flex-direction: column;
}
.textBlock11 {
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #68eeff;
  font-size: 20px;
  line-height: 120%;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle7 {
  position: absolute;
  left: 183px;
  top: 243px;
  width: 1215px;
  height: 66px;
  border-radius: 10px;
  background-color: #fff;
}
.image3 {
  position: absolute;
  left: 183px;
  top: 263px;
  width: 120.0888px;
  height: 25.9787px;
  background-image:/* webpackIgnore: true */ url('/assets/image3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.enterZipCodeForAnEvent {
  color: #7e7e7e;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  font-family: Newsreader, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.01em;
  position: absolute;
  left: 269px;
  top: 261px;
  width: 557.1219px;
  height: min-content;
  flex-direction: column;
}
.eventsAvailable {
  color: #68eeff;
  font-size: 64px;
  font-family: Holtwood One SC, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 234px;
  top: 121px;
  width: 884px;
  height: 120px;
  flex-direction: column;
}
