.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.rectangle6 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #628;
}

.image6 {
  transform-origin: top left;
  position: absolute;
  left: 40.7035%;
  right: 52.9547%;
  top: 80.2391%;
  bottom: 10.1156%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/Background/image6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.7899, -0.6133, 0.476, 0.8794, 0, 0);
}

.image7 {
  position: absolute;
  left: 87.3367%;
  right: 8.593%;
  top: 54.7882%;
  bottom: 36.6483%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image10 {
  position: absolute;
  left: 20.201%;
  right: 75.7286%;
  top: 50.3683%;
  bottom: 45.5801%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image12 {
  transform-origin: top left;
  position: absolute;
  left: 76.4322%;
  right: 16.0302%;
  top: 25.4144%;
  bottom: 65.5617%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.image14 {
  position: absolute;
  left: 15.4774%;
  right: 82.1608%;
  top: 70.1657%;
  bottom: 23.1123%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image17 {
  position: absolute;
  left: 3.6683%;
  right: 93.9698%;
  top: 33.0571%;
  bottom: 60.3131%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image17.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image18 {
  position: absolute;
  left: 35.2261%;
  right: 62.4121%;
  top: 84.6225%;
  bottom: 8.7477%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image18.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image21 {
  transform-origin: top left;
  position: absolute;
  left: 59.6421%;
  right: 35.2405%;
  top: 71.7311%;
  bottom: 23.2085%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image21.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.0371, 0.9993, -0.9986, 0.0532, 0, 0);
}

.image22 {
  position: absolute;
  left: 9.8492%;
  right: 87.4372%;
  top: 73.849%;
  bottom: 20.0737%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image22.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image24 {
  transform-origin: top left;
  position: absolute;
  left: 92.3438%;
  right: 4.7731%;
  top: 3.5202%;
  bottom: 90.759%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image24.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.7457, -0.6663, 0.5287, 0.8488, 0, 0);
}

.image28 {
  position: absolute;
  left: 42.0603%;
  right: 56.7839%;
  top: 64.2726%;
  bottom: 31.86%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image28.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image30 {
  position: absolute;
  left: 92.7638%;
  right: 3.0151%;
  top: 42.1731%;
  bottom: 53.7753%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image30.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image32 {
  position: absolute;
  left: 73.3166%;
  right: 22.4623%;
  top: 57.2744%;
  bottom: 38.7661%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image32.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image33 {
  position: absolute;
  left: 0.8543%;
  right: 94.2714%;
  top: 64.2726%;
  bottom: 26.5193%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image33.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image36 {
  position: absolute;
  left: 35.3769%;
  right: 63.3166%;
  top: 55.9853%;
  bottom: 38.582%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image36.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image40 {
  position: absolute;
  left: 11.4573%;
  right: 84.0704%;
  top: 55.8011%;
  bottom: 34.9908%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image40.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image41 {
  position: absolute;
  left: 85.1256%;
  right: 10.402%;
  top: 41.6206%;
  bottom: 49.1713%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image41.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image43 {
  position: absolute;
  left: 95.5276%;
  right: 0;
  top: 56.814%;
  bottom: 33.8858%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image43.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image45 {
  position: absolute;
  left: 80.9045%;
  right: 14.6231%;
  top: 82.7808%;
  bottom: 7.919%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image45.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image46 {
  position: absolute;
  left: 60.603%;
  right: 34.8744%;
  top: 59.116%;
  bottom: 31.6759%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image46.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image47 {
  transform-origin: top left;
  position: absolute;
  left: 24.6929%;
  right: 67.324%;
  top: 78.7293%;
  bottom: 12.6178%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image47.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.8082, 0.589, 0.4529, 0.8915, 0, 0);
}

.image48 {
  transform-origin: top left;
  position: absolute;
  left: 9.0374%;
  right: 83.8928%;
  top: 92.609%;
  bottom: -0.2682%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image48.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.9317, -0.3633, -0.2623, 0.965, 0, 0);
}

.image50 {
  transform-origin: top left;
  position: absolute;
  left: 96.2182%;
  right: -3.7071%;
  top: 23.8783%;
  bottom: 68.8204%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image50.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.7233, -0.6905, -0.554, 0.8325, 0, 0);
}

.image51 {
  position: absolute;
  left: 80.9045%;
  right: 16.4322%;
  top: 16.1142%;
  bottom: 77.8085%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image51.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image52 {
  position: absolute;
  left: 15.9296%;
  right: 81.3568%;
  top: 8.8398%;
  bottom: 85.0829%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image52.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image56 {
  position: absolute;
  left: 86.9849%;
  right: 10.6533%;
  top: 28.361%;
  bottom: 65.0092%;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image56.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image57 {
  transform-origin: top left;
  position: absolute;
  left: 794.5322px;
  top: 262.0552px;
  width: 99.5322px;
  height: 58.674px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image57.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.image58 {
  transform-origin: top left;
  position: absolute;
  left: 1360px;
  top: 70.0031px;
  width: 111.7227px;
  height: 87.2185px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image58.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.8319, -0.555, 0.533, 0.8461, 0, 0);
}

.image59 {
  position: absolute;
  left: 939px;
  top: 369px;
  width: 49.7661px;
  height: 52.7072px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image59.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image60 {
  position: absolute;
  left: 376px;
  top: 215px;
  width: 43.9681px;
  height: 58.1768px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image60.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image61 {
  position: absolute;
  left: 861px;
  top: 46px;
  width: 78.2729px;
  height: 34.8066px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image61.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image62 {
  position: absolute;
  left: 0;
  top: 148px;
  width: 75.3739px;
  height: 34.8066px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image62.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image63 {
  position: absolute;
  left: 963.6402px;
  top: 244.1547px;
  width: 83.1045px;
  height: 80.5525px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image63.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image64 {
  transform-origin: top left;
  position: absolute;
  left: 745.2493px;
  top: 174.338px;
  width: 50.2891px;
  height: 52.1787px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image64.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.7932, -0.609, 0.5869, 0.8096, 0, 0);
}

.image65 {
  transform-origin: top left;
  position: absolute;
  left: 232.1686px;
  top: 433.9147px;
  width: 111.7227px;
  height: 87.2185px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image65.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.8319, -0.555, 0.533, 0.8461, 0, 0);
}

.image66 {
  position: absolute;
  left: 1451.6792px;
  top: 477.326px;
  width: 83.1045px;
  height: 80.5525px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image66.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image67 {
  position: absolute;
  left: 1663px;
  top: 659px;
  width: 49.7661px;
  height: 52.7072px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image67.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image68 {
  position: absolute;
  left: 1499.0294px;
  top: 378.8729px;
  width: 43.9681px;
  height: 58.1768px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image68.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image69 {
  position: absolute;
  left: 1310.5947px;
  top: 431.5801px;
  width: 24.1583px;
  height: 47.7348px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image69.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image70 {
  position: absolute;
  left: 431.2329px;
  top: 532.0221px;
  width: 49.7661px;
  height: 52.7072px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image70.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image71 {
  position: absolute;
  left: 1399px;
  top: 122px;
  width: 43.9681px;
  height: 58.1768px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image71.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image72 {
  position: absolute;
  left: 1457px;
  top: 802px;
  width: 78.2729px;
  height: 34.8066px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image72.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image73 {
  position: absolute;
  left: 201px;
  top: 67px;
  width: 83.1045px;
  height: 80.5525px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image73.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image74 {
  position: absolute;
  left: 754px;
  top: 515px;
  width: 75.3739px;
  height: 34.8066px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image74.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image75 {
  position: absolute;
  left: 17.9998px;
  top: 0;
  width: 83.1045px;
  height: 80.5525px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image75.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image76 {
  position: absolute;
  left: 1081px;
  top: 624px;
  width: 78.2729px;
  height: 34.8066px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image76.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image77 {
  position: absolute;
  left: 1191px;
  top: 509px;
  width: 43.9681px;
  height: 58.1768px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image77.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image78 {
  position: absolute;
  left: 167px;
  top: 284px;
  width: 83.1045px;
  height: 80.5525px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image78.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image79 {
  transform-origin: top left;
  position: absolute;
  left: 1802.165px;
  top: 784px;
  width: 81.6013px;
  height: 51.2186px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image79.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.0432, 0.9991, -0.999, 0.0457, 0, 0);
}

.image80 {
  transform-origin: top left;
  position: absolute;
  left: 959.551px;
  top: 714.9473px;
  width: 128.8856px;
  height: 67.4432px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image80.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.9482, -0.3177, -0.3016, 0.9534, 0, 0);
}

.image81 {
  transform-origin: top left;
  position: absolute;
  left: 1361px;
  top: 921.6254px;
  width: 50.2891px;
  height: 52.1787px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image81.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.7932, -0.609, 0.5869, 0.8096, 0, 0);
}

.image82 {
  transform-origin: top left;
  position: absolute;
  left: 1875.7013px;
  top: 884px;
  width: 141.2323px;
  height: 77.9691px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image82.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.8475, 0.5307, 0.5089, 0.8608, 0, 0);
}

.image83 {
  position: absolute;
  left: 160.9999px;
  top: 510px;
  width: 65.9376px;
  height: 67.6546px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image83.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image84 {
  position: absolute;
  left: 960px;
  top: 556px;
  width: 39.4859px;
  height: 44.2678px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image84.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image85 {
  position: absolute;
  left: 847.0464px;
  top: 412.8988px;
  width: 34.8856px;
  height: 48.8616px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image85.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image86 {
  position: absolute;
  left: 597.9999px;
  top: 329px;
  width: 19.1679px;
  height: 40.0916px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image86.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image87 {
  position: absolute;
  left: 55px;
  top: 538px;
  width: 39.4859px;
  height: 44.2678px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image87.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image88 {
  position: absolute;
  left: 1027.225px;
  top: 608.3453px;
  width: 65.9376px;
  height: 67.6546px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image88.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image89 {
  position: absolute;
  left: 716.7048px;
  top: 411.2284px;
  width: 62.104px;
  height: 29.2335px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image89.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image90 {
  position: absolute;
  left: 623.932px;
  top: 515.6335px;
  width: 34.8856px;
  height: 48.8616px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image90.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image91 {
  position: absolute;
  left: 1087px;
  top: 58px;
  width: 65.9376px;
  height: 67.6546px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image91.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image92 {
  transform-origin: top left;
  position: absolute;
  left: 546.5959px;
  top: 209px;
  width: 68.5286px;
  height: 40.6435px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image92.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.0408, 0.9992, -0.9988, 0.0484, 0, 0);
}

.image93 {
  transform-origin: top left;
  position: absolute;
  left: 547.1045px;
  top: 590.3909px;
  width: 102.8818px;
  height: 56.3665px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image93.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.9425, -0.3343, -0.2864, 0.9581, 0, 0);
}

.image94 {
  transform-origin: top left;
  position: absolute;
  left: 268.102px;
  top: 607.366px;
  width: 40.7829px;
  height: 43.0044px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image94.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.776, -0.6307, 0.565, 0.8251, 0, 0);
}

.image95 {
  transform-origin: top left;
  position: absolute;
  left: 671.9746px;
  top: 779px;
  width: 113.944px;
  height: 64.5662px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image95.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.8335, 0.5525, 0.4876, 0.873, 0, 0);
}

.image96 {
  transform-origin: top left;
  position: absolute;
  left: 161.4183px;
  top: 239px;
  width: 83.4183px;
  height: 52.3765px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image96.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.image97 {
  transform-origin: top left;
  position: absolute;
  left: 637px;
  top: 111.3483px;
  width: 95.5543px;
  height: 76.5355px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image97.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.8152, -0.5792, 0.509, 0.8607, 0, 0);
}

.image98 {
  position: absolute;
  left: 1258.5642px;
  top: 214.304px;
  width: 69.6503px;
  height: 71.9067px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image98.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image99 {
  position: absolute;
  left: 1595px;
  top: 34px;
  width: 41.7092px;
  height: 47.0501px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image99.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image100 {
  position: absolute;
  left: 1023.9999px;
  top: 974px;
  width: 36.8498px;
  height: 51.9327px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image100.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image101 {
  position: absolute;
  left: 1140.3202px;
  top: 173.4681px;
  width: 20.2472px;
  height: 42.6114px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image101.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image102 {
  position: absolute;
  left: 1330px;
  top: 667px;
  width: 41.7092px;
  height: 47.0501px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image102.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image103 {
  position: absolute;
  left: 485px;
  top: 746px;
  width: 36.8498px;
  height: 51.9327px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image103.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image104 {
  position: absolute;
  left: 900px;
  top: 964px;
  width: 69.6503px;
  height: 71.9067px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image104.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image105 {
  position: absolute;
  left: 385.5056px;
  top: 129.0812px;
  width: 63.1712px;
  height: 31.0708px;
}

.image106 {
  position: absolute;
  left: 1351px;
  top: 827px;
  width: 69.6503px;
  height: 71.9067px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image106.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image107 {
  position: absolute;
  left: 1226px;
  top: 92px;
  width: 65.6008px;
  height: 31.0708px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image107.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image108 {
  position: absolute;
  left: 1062.5712px;
  top: 235.6097px;
  width: 36.8498px;
  height: 51.9327px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image108.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image109 {
  position: absolute;
  left: 434px;
  top: 389px;
  width: 69.6503px;
  height: 71.9067px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image109.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image110 {
  transform-origin: top left;
  position: absolute;
  left: 1610.8818px;
  top: 425px;
  width: 72.835px;
  height: 42.9325px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image110.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.0405, 0.9992, -0.9988, 0.0487, 0, 0);
}

.image111 {
  transform-origin: top left;
  position: absolute;
  left: 1268.4727px;
  top: 384.5524px;
  width: 108.75px;
  height: 59.8791px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image111.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.9418, -0.3361, -0.2847, 0.9586, 0, 0);
}

.image112 {
  transform-origin: top left;
  position: absolute;
  left: 42.114px;
  top: 179.5007px;
  width: 43.1856px;
  height: 45.6176px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image112.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.7741, -0.633, 0.5627, 0.8267, 0, 0);
}

.image113 {
  transform-origin: top left;
  position: absolute;
  left: 521.035px;
  top: 45px;
  width: 88.6648px;
  height: 57.3116px;
  background-image:
    /* webpackIgnore: true */
    url('../assets/Background/image113.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.8914, 0.4532, 0.3792, 0.9253, 0, 0);
}